/* start global rules */

.container {
    width: 1200px;
    margin: auto;
}

section {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    transition: 300ms ease-in-out;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

.center {
    text-align: center
}

* {
    font-family: sans-serif;
}

/* end global rules */

/* start framework */

first-color-bg {
    background: #2396f3;
    color: #fff
}

first-color {
    color: #2396f3;
    background: #fff
}

first-color-text {
    color: #2396f3;
}

/* end framework */


/* start responsive nav */

header section {
    font-family: sans-serif;
    width: 100%;
    height: 100vh;
    background: url('../img/beautiful-desktop-wallpaper-frost-2088238.jpg');
    background-size: cover;
    background-position: center;
    position: relative
}

header section .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    padding: 0 100px;
    color: #fff;
    font-size: 15px;

}

section .content {
    position: relative;
    padding: 0 200px;
    margin-top: 250px;
    color: #fff
}

.content h1 {
    font-size: 69px;
    text-transform: capitalize
}

.content span {
    color: #2396f3;



}

nav {
    position: fixed;
    width: 100%;
    line-height: 50px;
    text-transform: capitalize;
    z-index: 999
}

nav .logo {
    line-height: 50px;
    position: fixed;
    float: left;
    color: #fff;
    font-weight: bold;
    letter-spacing: 2px;
    padding: 0 100px;
    margin-top:-20px

}

nav .logo span{
    color:#2396f3;
    text-transform: uppercase;
    font-size:26px  
}


nav ul {
    line-height: 50px;
    background: rgba(0, 0, 0, 0.1);
    overflow: hidden;
    color: #fff;
    padding: 0;
    margin: 0;
    text-align: right;
    padding: 0 100px;
    transition: 1s;
}

nav.black ul {
    background: #000;
}

nav ul li {
    display: inline-block;

}

nav ul li a {
    color: #fff;
    font-size: 18px;
    padding: 12px 15px;
    transition: 0.5s
}

nav ul li a:hover,
nav ul li a.active {
    color: #fff;
    background: #2396f3;
    border-radius: 3px;
}

.menu-toggle {
    line-height: 36px;
    width: 100%;
    background: #000;
    text-align: right;
    padding: 0 24px;
    cursor: pointer;
    color: #fff;
    display: none;
}

@media(max-width: 786px) {

    .logo {
        position: fixed;
        top: 0;
        margin-top: 16px;
    }

    nav ul {
        max-height: 0px;
        background: #000;
    }

    nav.black ul {
        background: #000;
    }

    .showing {
        max-height: 34em;
    }

    nav ul li {
        box-sizing: border-box;
        width: 100%;
        padding: 24px;
        text-align: center;
    }

    .menu-toggle {
        display: block;
    }

}

/* end responsive nav */


/* start service card */

.container {
    width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center
}

* {
    box-sizing: border-box;
    font-family: Tahoma
}

.box {
    flex-basis: 25%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    text-align: center;
    padding: 20px;
    border-radius: 4px;
    position: relative;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1)
}


.box .icon {
    width: 70px;
    height: 70px;
    border-radius: 5% 45%;
    background: #000;
    color: #fff;
    font-size: 55px;
    font-weight: 500;
    position: relative;
    margin: 0 auto;
    transition: 1s
}

.box:nth-child(1) .icon {
    box-shadow: 0 0 0 0 #e91e63;
    background: #e91e63
}

.box:nth-child(1):hover .icon {
    box-shadow: 0 0 0 400px #e91e63;
    background: #e91e63
}

.box:nth-child(2) .icon {
    box-shadow: 0 0 0 0 #23e629;
    background: #23e629
}

.box:nth-child(2):hover .icon {
    box-shadow: 0 0 0 400px #23e629;
    background: #23e629
}

.box:nth-child(3) .icon {
    box-shadow: 0 0 0 0 #2396f3;
    background: #2396f3;
}

.box:nth-child(3):hover .icon {
    box-shadow: 0 0 0 400px #2396f3;
    background: #2396f3;
}

.box-content {
    position: relative;
    transition: 0.5s;
    z-index: 1;
    margin-bottom: 20px;
    font-size: 16px;

}

.box-content h3 {
    text-transform: capitalize;

}

.box:hover .box-content {
    color: #fff
}

.box:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
    z-index: 1
}

.box a {
    text-decoration: none;
    color: #000;
    padding: 8px 15px;
    font-weight: 500;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    background: #fff;
    border-radius: 4px;
    text-transform: capitalize;
    position: relative;
    z-index: 1
}

/* end service cards */

/* start portofolio */
* {
    box-sizing: border-box;
}

/* start portofolio section */

.tabs-list {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    justify-content: space-around;
    margin-bottom: 30px;

}

.tabs-list li {
    padding: 5px;
    flex-basis: 17%;
    border: 1px solid #4573db;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    color: #4573db;
    text-transform: capitalize;
    font-size: 20px;
    transition: 0.5s ease-in-out
}

.tabs-list .show {
    border: 1px solid #ccc;
    background: #4573db;
    color: #fff
}

/* alternative formatting without flexbox */
.content-list > div:not(:first-child) {
    display: none
}


.content-list {
    overflow: hidden;
    border: 1px solid #ccc
}

.info {
    float: left;
    width: 50%;
    padding: 25px;
    margin-top: 80px;
    line-height: 25px;
}

.content-list .info h3 {
    font-size: 26px;
    text-align: Center;
}

.content-list .img {
    float: left;
    width: 50%;
}

.img img {
    width: 100%;
}

/* end portofolio */
