/* start global rules */


section {
    transition: 300ms ease-in-out;
}

a {
    color: inherit;
    text-decoration: none;
}

/* end global rules */

/* start framework */

.first-color-bg {
    background: #03A9F4;
    color: #fff
}

.first-color {
    color: #03A9F4;
    background: #fff
}

.first-color-text {
    color: #03A9F4;
}

/* end framework */

body {
    font-family: 'cairo'
}


nav {
    background: black;
    color: #fff;
    min-height: 60px;
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
    align-items: center
}

nav .logo {
    font-size: 32px;
    /* background:url('../img/svg/Netflix_logo-vector.svg');
    background-size:cover;
    height:50px;
    min-width:100%;*/
}

.bars i {
    font-size: 32px;
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 50px;
    z-index: 999
}


header section {
    background: url('../img/traffic-a-lot-of-cars-driving-across-the-golden-gate-bridge-picjumbo-com.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 94vh;
    position: relative
}

header .overlay {
    position: absolute;
    width: 100%;
    height: 94vh;
    top: 60px;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;

}

header .overlay .container {
    margin-top: 200px;

}

header .overlay h1 {
    border: 8px solid #00B0FF;
    padding: 15px;
    width: 400px;
    margin: 50px auto;
    text-transform: uppercase;
    transition: 0.5s
}

header .overlay h1:hover {
    border: 8px solid #f1f1f1;
    width: 450px;
    color: #00B0FF
}

header .overlay p {
    padding: 0 125px;
    line-height: 23px;
}

header .menu-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #00B0FF;
    color: #fff;
    height: 100vh;
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    z-index: 2;
    transition: 0.5s ease-in-out;
}

/*.menu-list span {
    position: absolute;
    top: 15px;
    right: 35px;
    font-size: 48px;
    cursor: pointer;
    transition: 0.5s
}*/

.menu-list span:hover {
    transform: rotate(90deg)
}

header .menu {
    display: flex;
    flex-direction: column;
    border-left: 1px solid #333
}


header .menu li {
    font-size: 26px;
    font-weight: 500;
    padding: 10px 0;
    text-transform: capitalize;
}

header .menu li a {
    transition: 0.5s
}

header .menu li a:hover {
    color: #333
}


/* trial 002 business cardis */

.business-cardis {
    background: #eee;
}

.business-cardis .container .cardi {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    color: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    flex-basis: 25%;
    background: #333;
    position: relative;
    transition: 0.5s;
    overflow: hidden;
    /* to hide the overflowed portion of the layer */

}

.cardi .layer {
    position: absolute;
    top: calc(100% - 5px);
    /* equals full height - 5px */
    width: 100%;
    height: 100%;
    left: 0;
    z-index: 1;
    transition: 1s;
    background: #03A9F4;
    background: -moz-linear-gradient(-45deg, #03A9F4 0%, #FF1F26 100%);
    background: -webkit-linear-gradient(-45deg, #03A9F4 0%, #FF1F26 100%);
    background: linear-gradient(135deg, #03A9F4 0%, #FF1F26 100%);
}

.cardi:hover .layer {
    top: 0;

}

.cardi .img {
    border: 2px solid #ddd;
    width: 125px;
    height: 125px;
    background: #bdc3c7;
    border-radius: 50%;
    position: absolute;
    top: -60px;
    z-index: 2;

}

.cardi p {
    text-align: center;
    margin-top: 65px;
    padding: 5px 25px;
    line-height: 24px;
    z-index: 2;

}

.cardi h3 {
    margin-bottom: 5px;
    z-index: 2;

}

.cardi span {
    color: #ddd;
    font-style: italic;
    margin-bottom: 20px;
    z-index: 2;

}

/* its better to wrap p + h3 + span in a "content" div */

/* trial 002 business cardis */


/* section alpha */

.alpha {
    background: url('../img/beta-sec.jpg');
    background-size: cover;
    text-align: center;
    position: relative;
    height: 300px;


}

.alpha .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    background: rgba(0, 0, 0, 0.8)
}

.alpha .content {
    margin-top: 60px;
    padding: 10px 250px;
    color: #EEEEEE;
}

.alpha .content h2 {
    text-transform: uppercase;
    font-weight: 700;
    text-transform: capitalize
}

.alpha .content p {
    line-height: 24px;
}

.alpha .content button {
    background: transparent;
    border-radius: 15px;
    color: #fff;
    border: 1px solid transparent;
    padding: 7px 20px;
    cursor: pointer;
    text-transform: capitalize;
    background: #03A9F4;
    transition: 0.5s;
    font-weight: 700;

}

.alpha .content button:hover {
    color: #03A9F4;
    background: #fff;
    transform: translateY(10px)
}


/* start services */

.services {
    background: #EEEEEE
}

.services .h2 {
    color: #444;
    padding: 0 150px;
}

.services span {
    font-weight: 700;
}

.services p {
    padding: 0 200px;
    line-height: 24px;
}

.services .service-box-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
}

.service-box {
    flex-basis: 31%;
    border: 1px solid #ccc;
    margin-top: 20px;
    transition: 0.5s;
    border-radius: 5px;
    background: #FAFAFA;


}

.service-box i {
    font-size: 64px;
    margin-top: 15px;
    color: #03A9F4
}

.service-box h5 {
    color: #000;
    padding: 0 55px;

}

.service-box p {
    color: #616161;
    padding: 0 25px;

}


.service-box:hover i {
    color: #fff;
}

.service-box:hover {
    background-color: #03A9F4;
    transform: translateY(-10px)
}

.service-box:hover p {
    color: #fff
}

.service-box:hover h3 {
    color: #212121
}

/* end services section */

/* start scroll-top-top */

.scroll-to-top {
    width: 40px;
    height: 40px;
    top: 600px;
    position: fixed;
    right: 30px;
    background: #03A9F4;
    color: #fff;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    transition: 0.5s;
    opacity: 0.7;
    display: none
}


.scroll-to-top i {
    font-size: 34px
}


.scroll-to-top:hover {
    transform: translateY(-10px);
    opacity: 0.9
}

/* end scroll-top-top */



/* start footer */

footer {
    background-color: #211f1f;
    color: #d4d3d3;

}



.fo-details h4 {
    border-bottom: 1px solid #03a9f4;
    width:70%;
    padding-bottom:5px
    
}

.fo-details span {
    color: #03a9f4
}

.fo-details p {
    font-size: 12px
}


footer .social-icons li {
    display: inline-block;
    margin-right: 20px;
}

footer .social-icons i {
    font-size: 28px;
    transition: 1s;
}

.social-icons .fa-twitter-square:hover {
    color: #1da1f2;
    transform: rotate(360deg);
}

.social-icons .fa-facebook:hover {
    color: #3b5998;
    transform: rotate(360deg)
}

.social-icons .fa-behance-square:hover {
    color: #1769ff;
    transform: rotate(360deg)
}

.social-icons .fa-linkedin:hover {
    color: #0077b5;
    transform: rotate(360deg)
}


footer .contacts i {
    color: #03A9F4;
    margin-right: 7px;
    font-size: 18px;
    padding-top: 5px;
}

footer /*.contacts*/ li {
        font-size: 12px;

}

footer button {
    background: transparent;
    border-radius: 15px;
    color: #03A9F4;
    border: 1px solid #03A9F4;
    cursor: pointer;
    text-transform: capitalize;
    transition: 0.5s;
    font-weight: 400;
    padding:5px 25px

}

footer button:hover {
    color: #fff;
    background: #03A9F4
}



footer input[type=email] {
    background: #333;
    border-radius: 15px;
    height: 30px;
    margin-bottom: 20px;
    padding: 15px;
    font-size: 16px;
    color: #ccc;
    border: 1px solid transparent
}

.copyrights p {
    font-size: 12px;
    color:#999;
    margin:0;
    padding:5px 15px;
    border-left:3px solid #03a9f4
}

/* end footer */
